<!DOCTYPE html>

<head>
  <title>Match</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
</head>

<body>
	{% for index in info.keys() %}
		{% for book in info[index] %}
			<div class="img">
				<a target="_self" href= {{info[index][book]["infoLink"]}}>
				<img src={{info[index][book]["imageLinks"]}} alt="book" width="90" height="120"></a>
			<div class="desc">{{info[index][book]["title"]}}
			<br>
			{{info[index][book]["authors"]}}
			<br>
			Number of Pages:{{info[index][book]["pageCount"]}}
			<br>
			{{info[index][book]["description"]}}
			</div>
			</div>
		{% endfor %}
	{% endfor %} 
<br>
<a href = "home">Back to Home</a>
</body>

</html>

